input {
  padding-left: 12px
}
.onboard-text-small {
  font-size: 2em;
}
.love-you {
  margin-bottom: 50px;
  margin-top: 50px
}
.ralph {
  margin: 20px
}
.onboard-text-bold {
  font-size: 2em;
  font-weight: bold;
}

.onboard-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.onboard-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-container {
  margin-top: 85px;
  margin-bottom: 70px
}

#logyourdog {
  margin-top: 70px;
  display: flex;
  font-size: 2.5em;
  flex-direction: column;
  justify-content: center;
}

.name-input-container{
  margin: 40px;
}

.img1 {
  margin-top: 20px;
  width: 318;
  height: 118px
}

.dog-name-input {
  width: 280px;
  height: 41px;
  border-style: none;
  border-radius: 15px;
  background: #F5F4F6;
}

.dog-name-input::placeholder {
  color: grey;
}

.bold-container {
  margin-top: 20px;
  font-size: 2em;
  margin-bottom: 20px;
}

.onboard-age {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.log-dog-button {
  width: 304px;
  height: 49px;
  background-color: #FBD157;
  border-style: none;
  border-radius: 10px;
  margin-top: 20px;
}
.age-dropdown {
  width: 280px;
  height: 41px;
  border-style: none;
  border-radius: 15px;
  background: #F5F4F6;
}