body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-header {
  background-color: #f9c946;
  height: 124px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.onboard-header {
  background-color: #f9c946;
  width: 100vw;
  height: 124px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  line-height: 0.8;
}
.doggo-home {
  font-size: 1.8em;
  font-weight: bold;
}
.doggo {
  font-size: 3em;
  font-weight: bold;
  margin-left: 30px;
  margin-bottom: 0;
}
.user-progress {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.progress {
  display: flex;
  flex-direction: row;
}
.icon {
  margin-right: 10px;
}
.flame {
  margin-left: 10px;
}
.circle {
  /* border-style: solid; */
  border-radius: 100%;
  width: 18px;
  height: 18px;
  background-color: white;
  padding: 3px;
  margin: 5px;
}
.main-next {
  width: 304px;
  height: 49px;
  background-color: #fbd157;
  border-style: none;
  border-radius: 10px;
}
.start-lesson {
  width: 222px;
  height: 49px;
  background-color: #fbd157;
  border-style: none;
  border-radius: 10px;
}
.homepage-container,
.task-page-container,
.landing-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.homepage-container {
  background-image: url(Images/Doggo_Journey\ _Line.svg);
  background-repeat: no-repeat;
  background-position: center top;
}
.training {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* background-image: url(Images/Doggo_Journey\ _Line.svg); */
}
.tasks {
  margin-bottom: 40px;
  width: 375px;
}

.task-container {
  display: flex;
  flex-direction: column;
  /* width: 375px; */
  align-self: center;
  margin-top: 30px;
}
.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 20px 20px 20px;
}
.task-image {
  /* width: 52px;
  height: 52px; */
  margin-right: 20px;
  position: relative;
  /* display: inline-block; */
}
.image-icon {
  /* margin-left: 4px; */
  margin-top: 4px;
}
.progress-container {
  width: 60px;
  height: 60px;
}
.progress-ring {
  overflow: visible;
  height: 60px;
  width: 60px;
  position: absolute;
  top: -4px;
  left: -4px;
}

.task-title {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}
.task-list {
  width: 300px;
}
li {
  text-align: left;
  margin-bottom: 20px;
}
